body{
  text-align: justify;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  background-color: #ffffff;
  border-top: 5px solid red;
  color: black;
}

h1 {
  color: black;
  font-size: 55px;
  font-family: "Times New Roman", Times, serif;
}

h2 {
  color: black;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
}


a {
  color: #01954f;
}

a:hover {
    color: #2b2b2b;
}
 
.navbar-default {
  background-color:#2b2b2b;
  background-image: none;
  background-repeat: no-repeat;
 }
 
.navbar-default a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.navbar-brand {
  background-color: #01954f;
}

textbig {
  color: black;
  font-size: 40px;
}

tyear{
  color: #01954f;
}

/* Three columns side by side 
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens 
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect 
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container 
.container {
  padding: 0 16px;
}

/* Clear floats 
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
*/

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: bot
    width: 100%;
    display: block;
    margin-bottoh;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: white;
  box-sizing: border-box;
}

.col-container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
}

.col {
    display: table-cell; /* Make elements inside the container behave like table cells */
}